<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jfet.batsM3u"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.jfet.batsM3u.SrvStart"
            android:label="Bats! M3u"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- no scheme is interpreted as both file and content -->
                <data android:mimeType="audio/*" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSEABLE" />
                
                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSEABLE" />
                
                <data android:scheme="https" />
                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>    
        <service
            android:enabled="true"
            android:exported="false"
            android:name="org.jfet.batsM3u.M3uPlay" >
        </service>

    </application>
    

</manifest>
