<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jfet.batsM3u"
    android:versionCode="2"
    android:versionName="1.4" >
    <!-- versionName is an increasing substring of e*cos(1) -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- HTTPS probably doesn't work before 3.1, which is API level 12 -->
    
    <!-- streaming stuff -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- external and internal storage for actually reading the M3u files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    
    <!-- wake_lock for media player and wifi, access for checking whether we need wifi lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.jfet.batsM3u.SrvStart"
            android:label="Bats! M3u"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <!-- If we get rid of LAUNCHER, the icon doesn't show up in launcher, which is what we want -->
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- no scheme is interpreted as both file and content -->
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpeg-url" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/mpeg-url" />
                <data android:mimeType="application/mpegurl" />
                <data android:mimeType="application/x-winamp-playlist" />
                <data android:mimeType="audio/scpls" />
                <data android:mimeType="audio/x-scpls" />
            </intent-filter>
            
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSEABLE" />
                
                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSEABLE" />
                
                <data android:scheme="https" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            -->

        </activity>    
        <service
            android:enabled="true"
            android:exported="false"
            android:name="org.jfet.batsM3u.M3uPlay" >
        </service>
        
        <receiver
            android:name="org.jfet.batsM3u.M3uNoisyReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter> 
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>
    

</manifest>
